.app {
  text-align: center;
  background: linear-gradient(135deg, #89f7fe, #66a6ff);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #222;
  font-family: "Poppins", sans-serif;
}

.card {
  background: white;
  padding: 30px 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  max-width: 300px;
}

h1 {
  color: white;
  margin-bottom: 20px;
}
